.centrar {
    text-align: center;
}

.color-texto {
	color: gray;
}

#editar {
	color: gray;
	font-size: 0.8em;
	margin-left: 24%;
	background-color: #FFF;
	border-radius: 3px;
	border: solid 1px gray;
	padding: 1px;
}

#editar:active {
	color: #FFF;
	border-radius: 3px;
	border-color: #003c5a;
	background-color: #003c5a;
}

div[data-fc-estado] {
	margin-bottom: 5px;
}

li.thumb.big:not(.selectable) {
	padding-bottom: .4em
}

label.margen-select{
	margin-left: 5px;
	margin-right: 5px;
}

label.requerido:before {
	color: red;
	content: '*';
}

#foto {
	width: 90px;
	height: 90px;
}

.foto_detalle{
	width: 90px;
	height: 90px;
	margin-top: 6px;
	border-radius: 50%;
}

.texto-detalle{
	color: gray;
	font-size: .8em;
	padding: .5333em 0px .6em;
	border-bottom: solid 1px #D7D7D7;
}
.texto-detalle h5{
	margin-bottom: 6px;
}

.button-window-html {
	display: inline !important;
	width: 100% !important;
}

.notification > .window.confirm small {
	display: none;
}
.notification > .window.confirm strong {
	padding-bottom: 1em;
}
.notification > .window.confirm button {
	display: inline;
	width: 50%;
	line-height: 2.5em;
	font-size: 1.2em;
}

a.icono {
	float: right;
	color: gray;
	padding-top: 4px;
}

nav[data-control="groupbar"] > a > p {
	padding-top: 4px;
}

article#cancha h2{
	padding: 8.53333px;
}

.sub-header{
	color: #003c5a;
	background-color: #F7F7F7;
}

.enlace {
	font-size: 1.1em;
	color: #003c5a;
	text-decoration: underline;
}

.icon.off {
	font-size: 1.6em;
}

span.icon.plus {
	color: #E5E5E5;
	font-size: 1.8em;
}

.separado {
	margin-left: 5%;
}

.no-margin {
	margin: 0px;
}

.derecha {
	position: absolute;
	right: 2.2em;
	top: 22px;
	font-size: 1.1em;
	color: #808080;
	font-weight: 400;
}

.derecha-equipos {
	position: absolute;
	right: 0.4em;
	top: 16px;
	font-size: 1.1em;
	color: #808080;
	font-weight: 400;
}

#unirse-negro .derecha-equipos {
	top: 15px;
}

footer > nav > a{
	font-size: 0.8em;
}

footer > nav > a > p img {
	height: 25px;
}

.list li.thumb > img {
	padding: 5px;
	border: solid 1px;
	border-color: #DCDCDC;
}

.img-perfil {
	height: 90px;
	width: auto;
	margin-left: 1px;
}

@media only screen and (max-width: 322px) {
	.img-perfil {
		margin-left: 1px;
		width: 100%;
		height: auto;
	}
}

#contenido small{
	font-size: 0.8em;
}

#contenido span {
	margin-right: 5px;
}
